.App {
  /* text-align: center; */
}
h1{
  font-size: 50pt;
}
h2{
  font-size: 30pt;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.receiptList{
 display: grid;
 grid-template:
 [column1-start] "card card card" 450px [column1-end]
 / auto;
 justify-items: center;
}
.receiptCard{
  border-style: solid;
  border-width: thin;
  border-color: coral;
  padding: 1em;
  margin: 1em;
  flex-basis: 30%;
  
  /* width:300px; */
}
span{
  color: indigo;
}